body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.zodiac-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 100%;
}

.zodiac-card {
  background: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horoscope-detail {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.btn{
  border-radius: 10px;
  background: violet;
  color: white;
  border: none;
  margin-bottom: 20px;
}
.icon{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}